./slprj/*
slprj/*
Evaluation/.evalscripts/*
Evaluation/*.pdf
Evaluation/scripts/*
benchmarkTables/*
Evaluation/benchmarkTables/*
Evaluation/results/*.pdf
.resultsAverage_consistency.csv
Evaluation/results/.resultsAverage_consistency.csv
Evaluation/results/.results_completeness_bounded.csv
Evaluation/results/.boundedResults_completeness.csv
Evaluation/results/.boundedResults_consistency_smaller.csv
Evaluation/results/.unboundedResults_completeness.csv
Evaluation/results/.unresultsAverage_consistency.csv
Evaluation/results/.unboundedResults_consistency.csv
EclipseWorkspace/Requirements2Z3/testtables/*
EclipseWorkspace/Requirements2Z3/Tests/*
benchmarkTables/*
Evaluation/replicationPackage/benchmarkTables/*
Requirements2Z3/src/main/resources/*.py
Theano.jar
SimulinkExamples/slprj/*
Table1.rt
Table1.py
.venv
.vs
.idea
