./slprj/*
slprj/*
Evaluation/.evalscripts/*
Evaluation/*.pdf
Evaluation/scripts/*
benchmarkTables/*
Evaluation/benchmarkTables/*
Evaluation/results/*.pdf
.resultsAverage_consistency.csv
Evaluation/results/.resultsAverage_consistency.csv
Evaluation/results/.results_completeness_bounded.csv
Evaluation/results/.boundedResults_completeness.csv
Evaluation/results/.boundedResults_consistency_smaller.csv
Evaluation/results/.unboundedResults_completeness.csv
Evaluation/results/.unresultsAverage_consistency.csv
Evaluation/results/.unboundedResults_consistency.csv
